<launch>
  <!-- Include other launch files as you currently have -->
  <!-- <include file="$(find pde4430_cw2_robot_description)/launch/assessment_world.launch" /> -->
  <!-- <include file="$(find pde4430_cw2_robot_description)/launch/objects.launch" /> -->
  <arg name="world_name" default="$(find gazebo_ros)/worlds/empty.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
  </include>


  <!-- Static transform for base footprint -->
  <!-- <node name="tf_footprint_base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link base_footprint 40" /> -->

  <!-- Spawn model in Gazebo -->
  <node name="spawn_myrobot" pkg="gazebo_ros" type="spawn_model" args="-file $(find pde4430_cw2_robot_description)/urdf/myrobot.urdf -urdf -model pde4430_cw2_robot_description" output="screen" />

  <!-- Fake joint calibration, if needed -->
  <!-- <node name="fake_joint_calibration" pkg="rostopic" type="rostopic" args="pub /calibrated std_msgs/Bool true" /> -->

  <node name="controller_manager" pkg="controller_manager" type="controller_manager" ns="robot" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner" args=" wheel_controller gripper_controller" />

</launch>
